openapi: 3.1.0
info:
  title: SuperX API
  version: "1.0.0"
  description: |
    The SuperX public API: your Twitter/X content, analytics, audience and
    scheduling data over REST.

    All endpoints require an API key (`Authorization: Bearer sxk_...`) except
    `GET /v1/docs`. Keys are created in the SuperX app under Account > API / MCP / CLI
    and are server-side secrets.

    Timestamps are UTC ISO-8601 in both directions; inputs must carry an explicit
    `Z` or numeric offset. Every authenticated response carries
    `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers.
  contact:
    name: SuperX
    url: https://superx.so
servers:
  - url: https://api.superx.so
security:
  - apiKey: []
tags:
  - name: Identity
  - name: Content
  - name: Analytics
  - name: Inspiration
  - name: Audience
  - name: Contact Lists
  - name: Signals
  - name: Media
  - name: Scheduling
  - name: Tags
  - name: Context
  - name: Articles
  - name: Meta

paths:
  /v1/me:
    get:
      tags: [Identity]
      operationId: getMe
      summary: Get the key owner
      description: Returns the key owner, their plan, and the calling key's name and scopes.
      responses:
        "200":
          description: The authenticated identity.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Me"
              example:
                data:
                  owner:
                    id: "1178367350552305665"
                    name: "Jordan Rivers"
                    email: "jordan@example.com"
                  plan:
                    tier: 2
                    label: "Pro"
                    is_trial: false
                  key:
                    id: 3
                    name: "My script"
                    key_prefix: "sxk_Ab3dEf9h"
                    scopes: ["read", "write"]
                    created_at: "2026-07-01T09:15:00.000Z"
                    last_used_at: "2026-07-06T08:41:03.000Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/accounts:
    get:
      tags: [Identity]
      operationId: listAccounts
      summary: List your accounts
      description: |
        The accounts this key may act on: your main account plus any linked
        accounts. When linked accounts cannot be verified, the response degrades
        to the main account only and carries a top-level `degraded: true` flag;
        retry shortly for the full list.
      responses:
        "200":
          description: Main and linked accounts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Account" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
                  degraded:
                    type: boolean
                    description: Present and true only when linked accounts could not be verified and the list contains the main account only.
              example:
                data:
                  - id: "1178367350552305665"
                    username: "mainhandle"
                    name: "Main Account"
                    avatar_url: "https://pbs.twimg.com/profile_images/example.jpg"
                    is_main: true
                  - id: "1299139023923867648"
                    username: "brandhandle"
                    name: "Brand Account"
                    avatar_url: "https://pbs.twimg.com/profile_images/example2.jpg"
                    is_main: false
                pagination: { page: 1, limit: 2, has_more: false }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/posts:
    get:
      tags: [Content]
      operationId: listPosts
      summary: List published posts
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: type
          in: query
          description: Which posts to include.
          schema:
            type: string
            enum: [posts, replies, all]
            default: posts
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - name: sort
          in: query
          schema:
            type: string
            enum: [posted_at, likes, impressions]
            default: posted_at
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of posts, newest first by default.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Post" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941123456789012345"
                    text: "Consistency beats intensity. Post every day for 30 days and watch what happens."
                    posted_at: "2026-07-05T14:02:11.000Z"
                    url: "https://x.com/mainhandle/status/1941123456789012345"
                    is_reply: false
                    in_reply_to_id: null
                    is_quote: false
                    thread_id: "1941123456789012345"
                    metrics:
                      likes: 231
                      replies: 18
                      reposts: 40
                      quotes: 3
                      bookmarks: 55
                      impressions: 48210
                pagination: { page: 1, limit: 20, has_more: true }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/posts/analytics:
    get:
      tags: [Analytics]
      operationId: getPostAnalytics
      summary: Get analytics
      description: |
        Totals and a per-day series (posts, engagement, impressions, follower
        samples) for the selected account. Default range is the last 30 days;
        the maximum range is 366 days.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
      responses:
        "200":
          description: Totals, follower change and per-day series.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Analytics"
              example:
                data:
                  range:
                    since: "2026-06-06T00:00:00.000Z"
                    until: "2026-07-06T00:00:00.000Z"
                  totals:
                    posts: 92
                    likes: 4110
                    replies: 380
                    reposts: 512
                    quotes: 44
                    bookmarks: 903
                    impressions: 812400
                  followers:
                    start: 12180
                    end: 12544
                    change: 364
                  series:
                    - date: "2026-07-04"
                      posts: 3
                      likes: 140
                      replies: 12
                      reposts: 17
                      quotes: 1
                      bookmarks: 31
                      impressions: 27400
                      followers: 12520
                    - date: "2026-07-05"
                      posts: 4
                      likes: 231
                      replies: 18
                      reposts: 40
                      quotes: 3
                      bookmarks: 55
                      impressions: 48210
                      followers: 12544
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/replies:
    get:
      tags: [Content]
      operationId: listReplies
      summary: List replies you sent
      description: Replies the selected account has posted, newest first.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Post" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941200000000000001"
                    text: "Agreed. The first 100 posts are practice."
                    posted_at: "2026-07-05T16:20:00.000Z"
                    url: "https://x.com/mainhandle/status/1941200000000000001"
                    is_reply: true
                    in_reply_to_id: "1941199999999999999"
                    is_quote: false
                    thread_id: "1941199999999999999"
                    metrics:
                      likes: 12
                      replies: 1
                      reposts: 0
                      quotes: 0
                      bookmarks: 2
                      impressions: 1840
                pagination: { page: 1, limit: 20, has_more: false }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/replies/received:
    get:
      tags: [Audience]
      operationId: listReceivedReplies
      summary: List replies you received
      description: Every stored reply the selected account has received across all of its posts, with the replier's profile and the replied-to post when available.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [recent, most_liked]
            default: recent
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of received replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ReceivedReply" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941300000000000002"
                    text: "This thread changed how I plan my week."
                    posted_at: "2026-07-03T10:12:45.000Z"
                    metrics: { likes: 9 }
                    author:
                      id: "944883311"
                      username: "replierhandle"
                      name: "Replier Name"
                      avatar_url: "https://pbs.twimg.com/profile_images/..."
                    in_reply_to:
                      id: "1941299999999999998"
                      text: "How I plan a content week in 20 minutes:"
                      posted_at: "2026-07-03T09:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: false, total: 14 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/inspiration:
    get:
      tags: [Inspiration]
      operationId: searchInspiration
      summary: Search the inspiration library
      description: |
        Search a library of 50M+ real high-performing posts by topic. Use the
        results for structures, hooks and angles to remix, never to copy.

        The library is user-level, so there is no `account_id` parameter.
        Results are intentionally varied: the same query returns a different
        mix on each call. Pagination is heuristic; `has_more` means a full
        page came back with library pages left (pages run 1 to 7).

        Each result carries an `outlier_score`: the post's engagement rate vs
        the expected rate for its author's follower tier, x10 (10 = expected,
        higher = overperformed). Null when the author's follower count is
        unknown.
      parameters:
        - name: q
          in: query
          required: true
          description: Topic or theme to search for (1-200 characters).
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - name: sort
          in: query
          schema:
            type: string
            enum: [relevant, recent, likes, reposts, impressions, outlier]
            default: relevant
        - name: min_likes
          in: query
          description: Only posts with at least this many likes.
          schema: { type: integer, minimum: 0 }
        - name: min_reposts
          in: query
          description: Only posts with at least this many reposts.
          schema: { type: integer, minimum: 0 }
        - name: min_replies
          in: query
          description: Only posts with at least this many replies.
          schema: { type: integer, minimum: 0 }
        - name: min_bookmarks
          in: query
          description: Only posts with at least this many bookmarks.
          schema: { type: integer, minimum: 0 }
        - name: min_impressions
          in: query
          description: Only posts with at least this many impressions.
          schema: { type: integer, minimum: 0 }
        - name: min_length
          in: query
          description: Only posts with at least this many characters.
          schema: { type: integer, minimum: 0 }
        - name: min_followers
          in: query
          description: Only posts from authors with at least this many followers.
          schema: { type: integer, minimum: 0 }
        - name: max_followers
          in: query
          description: Only posts from authors with at most this many followers.
          schema: { type: integer, minimum: 0 }
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - name: lang
          in: query
          description: Language code.
          schema:
            type: string
            default: en
        - name: exclude_topics
          in: query
          description: Comma-separated topics to exclude (keyword filter).
          schema:
            type: string
            example: "crypto,politics"
        - name: limit
          in: query
          description: Page size, 1 to 50.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: page
          in: query
          description: 1-based page number, 1 to 7.
          schema:
            type: integer
            minimum: 1
            maximum: 7
            default: 1
      responses:
        "200":
          description: A page of matching posts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/InspirationPost" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1938765432109876543"
                    text: "I built my first product in 30 days with zero audience. Here is exactly what I would do differently:"
                    posted_at: "2026-06-20T15:04:00.000Z"
                    lang: "en"
                    likes: 4211
                    replies: 312
                    reposts: 388
                    bookmarks: 1904
                    impressions: 512000
                    outlier_score: 14.2
                    author:
                      handle: "buildersam"
                      name: "Sam Fields"
                      followers: 8421
                      verified: true
                pagination: { page: 1, limit: 20, has_more: true }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contacts:
    get:
      tags: [Audience]
      operationId: listContacts
      summary: List engaged contacts
      description: People who engaged with the selected account over the moving 90-day window, with reply and repost tallies.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [engagement, replies, reposts]
            default: engagement
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of contacts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Contact" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "44196397001234567"
                    username: "activefan"
                    name: "Sam Porter"
                    avatar_url: "https://pbs.twimg.com/profile_images/example3.jpg"
                    replies_90d: 14
                    reposts_90d: 6
                pagination: { page: 1, limit: 20, has_more: true, total: 181 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contacts/{id}/replies:
    get:
      tags: [Audience]
      operationId: listContactReplies
      summary: List one contact's replies to you
      description: The stored reply history from one contact to the selected account, with the replied-to post when available.
      parameters:
        - name: id
          in: path
          required: true
          description: The contact's id from `GET /v1/contacts`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [recent, most_liked]
            default: recent
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of the contact's replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactReply" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941300000000000002"
                    text: "This thread changed how I plan my week."
                    posted_at: "2026-07-03T10:12:45.000Z"
                    metrics: { likes: 9 }
                    in_reply_to:
                      id: "1941299999999999998"
                      text: "How I plan a content week in 20 minutes:"
                      posted_at: "2026-07-03T09:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: false, total: 14 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contact-lists:
    get:
      tags: [Contact Lists]
      operationId: listContactLists
      summary: List contact lists
      description: |
        The selected account's contact lists: system lists first (Followers,
        Following, Repliers, Reposters; `is_system: true` with a `kind`), then
        lists you created, newest first. System lists are read-only and
        index-only: their members are not readable through the API and
        `member_count` is 0 for them.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The account's contact lists.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactList" }
              example:
                data:
                  - id: "sys_f1a2b3c4d5e6f7g8h9i0j"
                    name: "Followers"
                    is_system: true
                    kind: "followers"
                    member_count: 0
                    created_at: "2026-05-01T09:00:00.000Z"
                    updated_at: "2026-05-01T09:00:00.000Z"
                  - id: "k1l2m3n4o5p6q7r8s9t0u"
                    name: "Founder prospects"
                    is_system: false
                    kind: null
                    member_count: 42
                    created_at: "2026-06-20T14:30:00.000Z"
                    updated_at: "2026-07-01T08:15:00.000Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members:
    get:
      tags: [Contact Lists]
      operationId: listContactListMembers
      summary: List contact list members
      description: |
        Members of one contact list you created. Includes a 90-day
        `engaged_count` (replies + reposts to the account) per member.
        System lists return 400 `system_list_not_supported`.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
        - name: q
          in: query
          description: Filter members by handle or name substring.
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of list members.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactListMember" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "m1a2b3c4d5e6f7g8h9i0j"
                    x_user_id: "944883311"
                    username: "founderhandle"
                    name: "Founder Name"
                    avatar_url: "https://pbs.twimg.com/profile_images/..."
                    location: "Austin, TX"
                    followers_count: 12800
                    following_count: 640
                    engaged_count: 7
                    source: "manual"
                    added_at: "2026-06-25T11:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: true, total: 42 }
        "400": { $ref: "#/components/responses/SystemListNotSupported" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/ListNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    post:
      tags: [Contact Lists]
      operationId: addContactListMember
      summary: Add a contact list member
      description: |
        Add a person to a list you created, by `handle` (live profile lookup)
        or by `x_user_id` (numeric X user id already known to SuperX).
        Exactly one of the two. Naturally idempotent: adding someone already
        in the list returns 200 with the existing member and
        `duplicate: true`, and writes nothing. Main account only; needs the
        write scope. No `Idempotency-Key` support (none is needed).

        Counts against a separate live-contact-enrichment rate limit (varies
        by plan), in addition to the normal write limits.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                handle:
                  type: string
                  description: X username, with or without the @.
                x_user_id:
                  type: string
                  description: Numeric X user id.
            examples:
              byHandle:
                value: { handle: "founderhandle" }
              byId:
                value: { x_user_id: "944883311" }
      responses:
        "201":
          description: The member was added.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AddedContactListMember" }
              example:
                data:
                  id: "m1a2b3c4d5e6f7g8h9i0j"
                  x_user_id: "944883311"
                  username: "founderhandle"
                  name: "Founder Name"
                  avatar_url: "https://pbs.twimg.com/profile_images/..."
                  added_at: "2026-07-08T10:00:00.000Z"
        "200":
          description: Already a member; nothing changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AddedContactListMember" }
                  duplicate:
                    type: boolean
              example:
                data:
                  id: "m1a2b3c4d5e6f7g8h9i0j"
                  x_user_id: "944883311"
                  username: "founderhandle"
                  name: "Founder Name"
                  avatar_url: "https://pbs.twimg.com/profile_images/..."
                  added_at: "2026-06-25T11:00:00.000Z"
                duplicate: true
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListOrUserNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members/{memberId}:
    delete:
      tags: [Contact Lists]
      operationId: removeContactListMember
      summary: Remove a contact list member
      description: |
        Remove a member from a list you created. Returns 204 with no body.
        Removing an already-removed member returns 404 `member_not_found`.
        Main account only; needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          description: The member id from `GET /v1/contact-lists/{id}/members`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "204":
          description: The member was removed.
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/MemberNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/signals/agents:
    get:
      tags: [Signals]
      operationId: listSignalAgents
      summary: List signal agents
      description: |
        The account's signal agents: the automated lead finders from the
        SuperX app. Each agent watches one or more signals (profiles,
        followers, keywords, or lists) and scores the people it finds
        against its ideal customer profile. Agents can be created, paused,
        resumed, and deleted through the API; name, ICP, precision, and
        destination edits happen in the SuperX app. `destination_list_id`
        joins to `GET /v1/contact-lists` for the target list's name. Not
        paginated (agent counts are capped per account).
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The account's signal agents.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SignalAgent" }
              example:
                data:
                  - id: 3
                    name: "Founder prospects"
                    status: active
                    status_detail: null
                    icp_description: "Early-stage SaaS founders posting about growth"
                    precision_mode: high
                    destination_list_id: "contact:V1StGXR8_Z5jdHi6B-myT"
                    created_at: "2026-06-20T09:00:00.000Z"
                    updated_at: "2026-07-01T18:30:00.000Z"
                    deposited_count: 42
                    last_checked: "2026-07-08T06:15:00.000Z"
                    signals:
                      - id: 7
                        type: profile_watch
                        handle: "naval"
                        name: "Naval"
                        avatar: "https://pbs.twimg.com/profile_images/..."
                        query: null
                        list_name: null
                        status: active
                        status_detail: null
                        last_run_at: "2026-07-08T06:15:00.000Z"
                        created_at: "2026-06-20T09:00:00.000Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

    post:
      tags: [Signals]
      operationId: createSignalAgent
      summary: Create a signal agent
      description: |
        Create a signal agent: it watches X for the given keywords and scores
        the people it finds against `icp_description`. Matching leads land in
        Signals (and `GET /v1/signals/leads`) over the following minutes and
        days; nothing is returned synchronously.

        Omit `keywords` and 1-3 watches are suggested from the ICP (if
        suggestion fails, nothing is created and you get 502
        `upstream_error`). Omit `destination_list_id` and a contact list
        named `Leads: <agent name>` is created for the leads, flagged
        `destination_list_created: true` in the response.

        Plan limits apply (403 `cap_reached`). Supports `Idempotency-Key`
        (max 64 chars): retries with the same key and body replay the
        original response with `Idempotency-Replayed: true`. Main account
        only in v1 (optional `account_id` in the body must be the main
        account).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, icp_description]
              properties:
                name:
                  type: string
                  maxLength: 80
                  description: Agent name shown in SuperX.
                icp_description:
                  type: string
                  maxLength: 500
                  description: Who the ideal leads are; found people are scored against this.
                precision_mode:
                  type: string
                  enum: [high, discovery]
                  default: high
                  description: high = fewer, stricter matches; discovery = broader net.
                keywords:
                  type: array
                  minItems: 1
                  maxItems: 5
                  items:
                    type: string
                    maxLength: 180
                  description: Plain-language descriptions of what the target customer posts about. Omit to auto-suggest from the ICP. Keywords beyond your plan's per-agent signal limit are dropped; the response lists the signals actually created.
                destination_list_id:
                  type: string
                  description: Contact list id (from `GET /v1/contact-lists`) that receives the leads. Omit to auto-create one.
                account_id:
                  type: string
                  description: Optional; must resolve to your main account.
            example:
              name: "Build in public founders"
              icp_description: "Indie founders building SaaS in public, sharing MRR and launch updates"
              precision_mode: high
              keywords: ["building in public", "just shipped my MVP"]
      responses:
        "201":
          description: The created agent with its keyword signals, plus whether a destination list was auto-created.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            Idempotency-Replayed:
              description: Present and "true" when this response was replayed from a previous request with the same Idempotency-Key.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/SignalAgent"
                      - type: object
                        properties:
                          destination_list_created:
                            type: boolean
                            description: true when destination_list_id was omitted and a list was created for the agent.
              example:
                data:
                  id: 12
                  name: "Build in public founders"
                  status: active
                  status_detail: null
                  icp_description: "Indie founders building SaaS in public, sharing MRR and launch updates"
                  precision_mode: high
                  destination_list_id: "contact:V1StGXR8_Z5jdHi6B-myT"
                  created_at: "2026-07-08T10:00:00.000Z"
                  updated_at: "2026-07-08T10:00:00.000Z"
                  deposited_count: 0
                  last_checked: null
                  signals:
                    - id: 31
                      type: keyword_watch
                      handle: null
                      name: null
                      avatar: null
                      query: "building in public"
                      list_name: null
                      status: active
                      status_detail: null
                      last_run_at: null
                      created_at: "2026-07-08T10:00:00.000Z"
                  destination_list_created: true
        "400":
          description: A parameter is missing, malformed, or out of range (`invalid_parameter`), or the create was rejected upstream (`invalid_request`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: invalid_parameter
                  message: "icp_description is required (1-500 characters)"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Read-only key (`insufficient_scope`), linked account (`writes_main_account_only`), lapsed subscription (legacy string envelope), or the plan's agent limit is reached (`cap_reached`).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: cap_reached
                  message: "You've reached your plan's signal agent limit (1 on the pro plan). Pause and delete an agent, or upgrade your plan."
        "404": { $ref: "#/components/responses/ListNotFound" }
        "409":
          description: The Idempotency-Key was already used with a different request body.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: idempotency_key_reuse
                  message: "This Idempotency-Key was already used with a different request body."
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/signals/agents/{id}:
    patch:
      tags: [Signals]
      operationId: setSignalAgentStatus
      summary: Pause or resume a signal agent
      description: |
        Status-only lifecycle: `active` or `paused`. Paused agents stop
        finding leads; resuming picks up where the agent left off (a resume
        is rejected with `invalid_request` when the agent's destination list
        is gone; point it at a new list in the SuperX app first). Other
        fields (name, ICP, precision, destination) are edited in the SuperX
        app. Naturally idempotent, so there is no `Idempotency-Key` support.
        Main account only in v1.
      parameters:
        - name: id
          in: path
          required: true
          description: The signal agent's numeric id (from `GET /v1/signals/agents`).
          schema:
            type: integer
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, paused]
            example:
              status: paused
      responses:
        "200":
          description: The updated agent.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/SignalAgent" }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/AgentNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

    delete:
      tags: [Signals]
      operationId: deleteSignalAgent
      summary: Delete a signal agent
      description: |
        Delete an agent. The leads it already saved and its destination
        contact list stay untouched. Deleting the same id again returns 404
        `agent_not_found`. Main account only in v1.
      parameters:
        - name: id
          in: path
          required: true
          description: The signal agent's numeric id (from `GET /v1/signals/agents`).
          schema:
            type: integer
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The agent was deleted.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                      deleted:
                        type: boolean
              example:
                data:
                  id: 12
                  deleted: true
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/AgentNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/signals/leads:
    get:
      tags: [Signals]
      operationId: listSignalLeads
      summary: List signal leads
      description: |
        The leads the account's signal agents have found, newest first:
        people who matched an agent's ideal customer profile, with their
        profile, the match score and rationale, whether the lead has been
        saved to the agent's contact list yet (`deposited`/`deposited_at`),
        and provenance describing how the lead was discovered. Leads under
        paused or errored agents remain listed (the agent's status is on
        every row).
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: agent_id
          in: query
          description: Narrow to one agent by its numeric id (from `GET /v1/signals/agents`). An unknown or foreign id returns 404 `agent_not_found`.
          schema:
            type: integer
        - name: deposited
          in: query
          description: true returns only leads already saved to the agent's contact list; false returns only new ones. Omit for both.
          schema:
            type: boolean
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - name: limit
          in: query
          description: Items per page, up to 100. Default 50.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of leads, discovered_at descending.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SignalLead" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: 918
                    agent: { id: 3, name: "Founder prospects", status: active }
                    user:
                      x_user_id: "944883311"
                      username: "founderhandle"
                      name: "Founder Name"
                      avatar_url: "https://pbs.twimg.com/profile_images/..."
                      followers_count: 4210
                      following_count: 388
                      location: "Austin, TX"
                    icp_score: 3
                    icp_rationale: "Bootstrapped SaaS founder actively posting about growth experiments."
                    deposited: true
                    deposited_at: "2026-07-07T12:00:00.000Z"
                    discovered_at: "2026-07-07T09:41:00.000Z"
                    provenance:
                      type: profile_watch
                      action: reply
                      source_ref: "1941300000000000002"
                      tweet_id: "1941300000000000002"
                      tweet_text: "We doubled activation by rewriting onboarding emails."
                      target_handle: "naval"
                pagination: { page: 1, limit: 50, has_more: false, total: 1 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AgentNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/media:
    post:
      tags: [Media]
      operationId: createMediaUpload
      summary: Presign an image upload
      description: |
        Registers an image upload and returns a presigned `upload_url`. PUT
        the raw file bytes to `upload_url` within 20 minutes, with the
        `Content-Type` header set to the same `file_type` you declared here.
        Then reference the returned `object_key` in `parts[].media` on the
        scheduled-posts create/update endpoints.

        Images only: `image/jpeg`, `image/png`, `image/webp` (5 MB max each)
        and `image/gif` (15 MB max). The attach step re-checks the real bytes
        (size and magic-byte type), so a mismatched upload fails at attach
        time. Uploads never attached to a post are deleted after 24 hours.

        Needs the write scope. Quota: 100 uploads per key per day, on top of
        the normal write rate limits. No `Idempotency-Key` handling: a
        duplicate presign is just an unused upload that expires.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, file_type, size]
              properties:
                filename:
                  type: string
                  description: Original filename; sanitized into the object key.
                file_type:
                  type: string
                  enum: [image/jpeg, image/png, image/webp, image/gif]
                size:
                  type: integer
                  description: File size in bytes. 5 MB max (15 MB for GIF).
            example:
              filename: "chart.png"
              file_type: "image/png"
              size: 48213
      responses:
        "201":
          description: The registered upload and its presigned PUT URL.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      object_key:
                        type: string
                        description: Pass this in `parts[].media` when creating or editing a post.
                      url:
                        type: string
                        description: The public URL the file will have once uploaded.
                      upload_url:
                        type: string
                        description: Presigned PUT URL. Upload the raw bytes here with `Content-Type` equal to `file_type`.
                      expires_at:
                        type: string
                        format: date-time
                        description: When the upload_url stops working (20 minutes).
              example:
                data:
                  object_key: "u123/api_1751980800000_9f3a1c2b_chart.png"
                  url: "https://media.superx.so/u123/api_1751980800000_9f3a1c2b_chart.png"
                  upload_url: "https://<bucket-host>/u123/api_1751980800000_9f3a1c2b_chart.png?X-Amz-..."
                  expires_at: "2026-07-08T15:20:00.000Z"
        "400":
          description: Invalid parameter, unsupported type (`unsupported_media_type`; videos land here), or over the size cap (`media_too_large`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: unsupported_media_type
                  message: "file_type must be one of: image/jpeg, image/png, image/webp, image/gif. Videos are not supported yet."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Read-only key (`insufficient_scope`) or a lapsed subscription (legacy string envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: insufficient_scope
                  message: "This API key is read-only. Create a key with the write scope to use this endpoint."
        "429":
          description: Write rate limit (`rate_limited`) or the daily media quota (`media_quota_exceeded`, 100/day). `Retry-After` indicates the wait.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: media_quota_exceeded
                  message: "Daily media upload limit reached (100/day). Retry after the indicated delay."
        "500": { $ref: "#/components/responses/InternalError" }
        "503":
          description: Media storage is not configured (`media_not_configured`) or temporarily unavailable (`upstream_unavailable`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: media_not_configured
                  message: "Media storage is not configured on this server. Try again later."

  /v1/scheduled-posts:
    get:
      tags: [Scheduling]
      operationId: listScheduledPosts
      summary: List drafts and scheduled posts
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: status
          in: query
          description: Comma list of statuses to include. Default is all four. `draft` also covers legacy board drafts stored under internal statuses; they come back as `"draft"`.
          schema:
            type: string
            example: "scheduled,draft"
        - name: tags
          in: query
          description: Comma list of tag ids (from `GET /v1/tags`). Returns posts carrying ANY of the listed tags.
          schema:
            type: string
            example: "V1StGXR8_Z5jdHi6B-myT"
        - name: from
          in: query
          description: Include posts scheduled at or after this UTC ISO-8601 time (explicit Z or offset required).
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Include posts scheduled at or before this UTC ISO-8601 time (explicit Z or offset required).
          schema:
            type: string
            format: date-time
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of scheduled posts and drafts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ScheduledPost" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "V1StGXR8_Z5jdHi6B-myT"
                    status: "scheduled"
                    scheduled_for: "2026-07-08T15:00:00.000Z"
                    parts:
                      - text: "Shipping day. Here is everything new in this release:"
                      - text: "1. A public API. Docs at docs.superx.so"
                    title: null
                    scratchpad: null
                    tags: []
                    created_at: "2026-07-06T09:30:00.000Z"
                  - id: "Fq2xWnA0kLpR7sVtYu3zc"
                    status: "draft"
                    scheduled_for: null
                    parts:
                      - text: "Rough idea: why most scheduling tools get threads wrong."
                    title: "Threads take"
                    scratchpad: null
                    tags:
                      - { id: "aB3xWnA0kLpR7sVtYu3zc", name: "Launch week", color: "amber" }
                    created_at: "2026-07-05T20:11:00.000Z"
                pagination: { page: 1, limit: 20, has_more: false, total: 2 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    post:
      tags: [Scheduling]
      operationId: createScheduledPost
      summary: Create a draft or scheduled post
      description: |
        Creates a post: a draft when `scheduled_for` is omitted, a scheduled
        post otherwise. Main account only in v1. Supports the
        `Idempotency-Key` header for safe retries (see the Idempotency guide).
        Successful creation returns `201`.

        Images attach per part: `parts[].media` is an array of
        `{ object_key, alt_text? }` items, with `object_key` from
        `POST /v1/media` (uploaded bytes required first). Up to 4 images or
        exactly 1 GIF per part; `alt_text` is capped at 1,000 characters.
        Video is not supported yet.

        Advanced settings (`auto_retweet`, `auto_delete`, `auto_plug`,
        `super_followers_only`): omit a setting to inherit its Default Post
        Settings value from the SuperX app, send an object (or `true`/`false`
        for `super_followers_only`) to override, or send `null` to turn it
        off for this post. Exactly five settings inherit this way: auto
        retweet, auto delete, auto plug, auto DM, and Super Followers only.
        Other composer defaults (for example Bluesky cross-posting or
        share-with-followers) are never applied to API posts. Auto DM always
        inherits and has no request parameter; when a plan limit strips it,
        the response carries `auto_dm_skipped: true` instead of failing.
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          description: >-
            Unique key (max 64 characters) for safe retries. Replays carry the
            "Idempotency-Replayed" response header set to "true". Keys are
            retained for 24 hours.
          schema:
            type: string
            maxLength: 64
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The post text (single post). Provide either `text` or `parts`.
                parts:
                  type: array
                  description: Thread parts, 1 to 25 items. Total text across parts is limited to 25,000 characters.
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                      media:
                        type: array
                        maxItems: 4
                        description: Images for this part (up to 4, or exactly 1 GIF). `object_key` from `POST /v1/media`.
                        items:
                          type: object
                          required: [object_key]
                          properties:
                            object_key:
                              type: string
                            alt_text:
                              type: string
                              maxLength: 1000
                              description: Accessibility description delivered to X with the image.
                scheduled_for:
                  type: string
                  format: date-time
                  description: UTC ISO-8601 with explicit Z or offset. At least 60 seconds in the future, at most 18 months out. Omit to create a draft.
                title:
                  type: string
                  maxLength: 300
                  description: Draft title shown in the SuperX app. Organizational only, never posted.
                scratchpad:
                  type: string
                  maxLength: 30000
                  description: Private working notes attached to the post. Never posted.
                tags:
                  type: array
                  maxItems: 20
                  description: Tag ids to assign (from `GET /v1/tags`). Unknown ids fail the whole request with `400 unknown_tag` before anything is created.
                  items:
                    type: string
                auto_retweet:
                  type: object
                  nullable: true
                  description: Auto retweet. Omit to inherit your Default Post Settings; `null` turns it off for this post.
                  required: [after_hours]
                  properties:
                    after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                      description: Retweet the post this many hours after it goes live.
                    remove_after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                      description: Remove the retweet this many hours later. Omit to keep it.
                auto_delete:
                  type: object
                  nullable: true
                  description: Auto delete underperforming posts. Omit to inherit your defaults; `null` turns it off for this post.
                  required: [after_hours]
                  properties:
                    after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                      description: Delete the post this many hours after it goes live if it is under the views threshold.
                    threshold:
                      type: integer
                      minimum: 0
                      description: Views threshold (default 1000).
                auto_plug:
                  type: object
                  nullable: true
                  description: "Auto plug: reply with a template once the post hits a likes threshold. Omit to inherit your defaults; `null` turns it off for this post. Unknown template ids fail with `400 unknown_plug_template`."
                  required: [template_id, threshold]
                  properties:
                    template_id:
                      type: string
                      description: Plug template id (from `GET /v1/plug-templates`).
                    threshold:
                      type: integer
                      minimum: 1
                      description: Likes threshold that triggers the plug reply.
                super_followers_only:
                  type: boolean
                  description: Post to Super Followers only. Omit to inherit your defaults.
                account_id:
                  type: string
                  description: Must be your main account (or omitted). Linked accounts return `403 writes_main_account_only`.
            examples:
              single:
                summary: One scheduled post
                value:
                  text: "Shipping day."
                  scheduled_for: "2026-07-08T15:00:00Z"
              thread:
                summary: A thread draft
                value:
                  parts:
                    - text: "Why most scheduling tools get threads wrong:"
                    - text: "They treat a thread as one blob of text instead of parts."
              organized:
                summary: A draft with title and tags
                value:
                  text: "Rough cut of the launch teaser."
                  title: "Launch teaser v1"
                  tags: ["V1StGXR8_Z5jdHi6B-myT"]
              with_image:
                summary: A scheduled post with an image
                value:
                  parts:
                    - text: "Chart of the week."
                      media:
                        - object_key: "u123/api_1751980800000_9f3a1c2b_chart.png"
                          alt_text: "Line chart of weekly revenue trending up"
                  scheduled_for: "2026-07-08T15:00:00Z"
              advanced:
                summary: Explicit advanced settings
                value:
                  text: "Shipping day."
                  scheduled_for: "2026-07-08T15:00:00Z"
                  auto_retweet: { after_hours: 6, remove_after_hours: 4 }
                  auto_plug: { template_id: "tpl_abc123", threshold: 50 }
                  auto_delete: null
      responses:
        "201":
          description: >-
            The created post (echo of the accepted request, not the stored
            row). Replayed idempotent requests also return this body with the
            "Idempotency-Replayed" header set to "true". Applied advanced
            settings, inherited or explicit, are NOT echoed here; read them
            back via GET /v1/scheduled-posts.
          headers:
            Idempotency-Replayed:
              description: Present and "true" when this response was replayed from a previous request with the same Idempotency-Key.
              schema:
                type: string
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      status:
                        type: string
                        enum: [draft, scheduled]
                      scheduled_for:
                        type: string
                        format: date-time
                        nullable: true
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                            media:
                              type: array
                              description: Present only when the part carries media.
                              items:
                                type: object
                                properties:
                                  object_key:
                                    type: string
                                  url:
                                    type: string
                                  file_type:
                                    type: string
                                  size:
                                    type: integer
                                    nullable: true
                                  alt_text:
                                    type: string
                                    nullable: true
                      title:
                        type: string
                        nullable: true
                      scratchpad:
                        type: string
                        nullable: true
                      tags:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            color:
                              type: string
                      created_at:
                        type: string
                        format: date-time
                      auto_dm_skipped:
                        type: boolean
                        description: >-
                          Present (and true) only when a plan limit stripped
                          the inherited Auto DM from this post. Absent
                          otherwise.
              example:
                data:
                  id: "V1StGXR8_Z5jdHi6B-myT"
                  status: "scheduled"
                  scheduled_for: "2026-07-08T15:00:00.000Z"
                  parts:
                    - text: "Shipping day."
                  title: null
                  scratchpad: null
                  tags: []
                  created_at: "2026-07-06T10:00:00.000Z"
        "400":
          description: >-
            Invalid parameter, invalid request, unknown tag id (`unknown_tag`),
            unknown plug template id (`unknown_plug_template`),
            or a media problem: unknown or foreign `object_key`
            (`invalid_media`), bytes never uploaded (`media_not_uploaded`),
            not a supported image (`unsupported_media_type`), or over the size
            cap (`media_too_large`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: invalid_media
                  message: "Unknown object_key: u123/api_..._chart.png. Upload media first via POST /v1/media."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: |
            Read-only key (`insufficient_scope`), linked account
            (`writes_main_account_only`), onboarding not finished
            (`onboarding_required`), post quota used up
            (`post_quota_exceeded`), or a lapsed subscription (legacy string
            envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: writes_main_account_only
                  message: "The API can only create posts for your main account for now."
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "409":
          description: The Idempotency-Key was already used with a different request body.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: idempotency_key_reuse
                  message: "This Idempotency-Key was already used with a different request body."
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/scheduled-posts/{id}:
    patch:
      tags: [Scheduling]
      operationId: updateScheduledPost
      summary: Edit a draft or scheduled post
      description: |
        Partial update: only the fields you send change; everything else on
        the post (including fields the API does not expose) is preserved.
        Main account only in v1.

        Status transitions are explicit: sending `scheduled_for` alone never
        schedules a draft. Set `status` to `"scheduled"` to promote (needs a
        future time, provided or already stored: at least 60 seconds ahead,
        at most 18 months) or `"draft"` to pull a post back out of the queue.
        Both directions ride the normal post-quota deduct/refund.

        `parts` is a FULL replace, media included: a part sent without
        `media` drops any media it carried. Re-include the current
        `object_key`s (visible on GET responses) to keep them, add new ones
        from `POST /v1/media`, or omit `parts` entirely to edit only
        title/scratchpad/time/status without touching text or media.
        No `Idempotency-Key` handling: PATCH is naturally idempotent.
        Concurrent edits are last-write-wins.

        Advanced settings (`auto_retweet`, `auto_delete`, `auto_plug`,
        `super_followers_only`) use the same shapes as create but never
        inherit defaults on update: provided = override, omitted = keep the
        post's current setting, `null` = remove it. Auto DM has no parameter
        and always round-trips untouched.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: Replacement text (single post). Provide either `text` or `parts`, not both.
                parts:
                  type: array
                  description: Replacement parts (full replace, media included), 1 to 25 items, 25,000 characters total. A part without `media` drops the media it carried.
                  items:
                    type: object
                    required: [text]
                    properties:
                      text:
                        type: string
                      media:
                        type: array
                        maxItems: 4
                        description: Images for this part (up to 4, or exactly 1 GIF). Re-list existing `object_key`s to keep them; new ones come from `POST /v1/media`.
                        items:
                          type: object
                          required: [object_key]
                          properties:
                            object_key:
                              type: string
                            alt_text:
                              type: string
                              maxLength: 1000
                scheduled_for:
                  type: string
                  format: date-time
                  description: New time, UTC ISO-8601 with explicit Z or offset. On its own it never promotes a draft.
                status:
                  type: string
                  enum: [draft, scheduled]
                  description: Explicit transition. `scheduled` requires a future time (via `scheduled_for` or already stored).
                title:
                  type: string
                  maxLength: 300
                  nullable: true
                  description: New title; `null` clears it.
                scratchpad:
                  type: string
                  maxLength: 30000
                  nullable: true
                  description: New notes; `null` clears them.
                tags:
                  type: array
                  maxItems: 20
                  description: Full replacement tag id set. `[]` clears all tags. Unknown ids fail with `400 unknown_tag`.
                  items:
                    type: string
                auto_retweet:
                  type: object
                  nullable: true
                  description: Auto retweet override; `null` removes it. Omit to keep the current setting.
                  required: [after_hours]
                  properties:
                    after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                    remove_after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                auto_delete:
                  type: object
                  nullable: true
                  description: Auto delete override; `null` removes it. Omit to keep the current setting.
                  required: [after_hours]
                  properties:
                    after_hours:
                      type: integer
                      minimum: 1
                      maximum: 12
                    threshold:
                      type: integer
                      minimum: 0
                      description: Views threshold (default 1000).
                auto_plug:
                  type: object
                  nullable: true
                  description: Auto plug override; `null` removes it. Omit to keep the current setting. Unknown template ids fail with `400 unknown_plug_template`.
                  required: [template_id, threshold]
                  properties:
                    template_id:
                      type: string
                      description: Plug template id (from `GET /v1/plug-templates`).
                    threshold:
                      type: integer
                      minimum: 1
                super_followers_only:
                  type: boolean
                  description: Post to Super Followers only. Omit to keep the current setting.
                account_id:
                  type: string
                  description: Must be your main account (or omitted).
            examples:
              retitle:
                summary: Change only the title
                value:
                  title: "Launch teaser v2"
              remove_auto_retweet:
                summary: Remove the post's auto retweet
                value:
                  auto_retweet: null
              promote:
                summary: Promote a draft to the queue
                value:
                  scheduled_for: "2026-08-01T15:00:00Z"
                  status: "scheduled"
              retag:
                summary: Replace the tag set
                value:
                  tags: ["V1StGXR8_Z5jdHi6B-myT"]
      responses:
        "200":
          description: The full updated post.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ScheduledPost"
              example:
                data:
                  id: "Fq2xWnA0kLpR7sVtYu3zc"
                  status: "draft"
                  scheduled_for: null
                  parts:
                    - text: "Rough idea: why most scheduling tools get threads wrong."
                  title: "Launch teaser v2"
                  scratchpad: null
                  tags: []
                  created_at: "2026-07-05T20:11:00.000Z"
        "400":
          description: >-
            Invalid parameter, unknown tag id (`unknown_tag`), unknown plug
            template id (`unknown_plug_template`), a missing future
            time for `status:"scheduled"`, or a media problem: unknown or
            foreign `object_key` (`invalid_media`), bytes never uploaded
            (`media_not_uploaded`), not a supported image
            (`unsupported_media_type`), or over the size cap
            (`media_too_large`).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: invalid_media
                  message: "Unknown object_key: u123/api_..._chart.png. Upload media first via POST /v1/media."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Read-only key (`insufficient_scope`), linked account (`writes_main_account_only`), or a lapsed subscription (legacy string envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: insufficient_scope
                  message: "This API key is read-only. Create a key with the write scope to use this endpoint."
        "404":
          description: No scheduled post with that id belongs to this account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: not_found
                  message: "No scheduled post with that id belongs to this account."
        "409":
          description: The post is not editable (already sent or errored).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: post_not_editable
                  message: "Only drafts and scheduled posts can be edited."
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    delete:
      tags: [Scheduling]
      operationId: deleteScheduledPost
      summary: Delete a draft or scheduled post
      description: Deletes the post and refunds any quota it held. Main account only in v1.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: Deleted.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
              example:
                data:
                  id: "V1StGXR8_Z5jdHi6B-myT"
                  deleted: true
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: Read-only key (`insufficient_scope`), linked account (`writes_main_account_only`), or a lapsed subscription (legacy string envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: insufficient_scope
                  message: "This API key is read-only. Create a key with the write scope to use this endpoint."
        "404":
          description: No scheduled post with that id belongs to this account.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: not_found
                  message: "No scheduled post with that id belongs to this account."
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/plug-templates:
    get:
      tags: [Scheduling]
      operationId: listPlugTemplates
      summary: List plug templates
      description: >-
        Lists your auto-plug reply templates (authored in the SuperX app
        under Default Post Settings). Pass a template id as
        `auto_plug.template_id` when creating or updating a scheduled post.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: All plug templates.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/PlugTemplate" }
              example:
                data:
                  - id: "tpl_abc123"
                    text: "Enjoyed this? Follow for more, and grab the full guide here:"
                    has_media: false
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/context:
    get:
      tags: [Context]
      operationId: getContext
      summary: Get context settings
      description: >-
        The account's Context settings in one document: the background
        SuperX's AI uses when writing for the account. `profile_description`
        grounds the voice and personalizes the daily content mix and search;
        `interests` are the highest-priority content topics; `rules` are
        mandatory instructions on every AI surface; `reply` steers generated
        replies; `voice.favorite_creators` (max 3) inspire the writing style;
        `style_guide` holds the manual overrides plus the read-only generated
        guide; `products` (max 5) are mentioned naturally in generated
        content.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The context document.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Context" }
              example:
                data:
                  profile_description:
                    text: "Indie hacker building SuperX, an X growth platform."
                    enabled: true
                  interests: ["indie hacking", "SaaS", "AI agents"]
                  rules: "Never use hashtags. Keep posts under 200 characters."
                  reply:
                    custom_instructions: "Be helpful, never salesy."
                    include_author_name: false
                  voice:
                    favorite_creators:
                      - screen_name: "levelsio"
                        id: "1577241624"
                        name: "Pieter Levels"
                        profile_image_url_https: "https://pbs.twimg.com/profile_images/example.jpg"
                    use_own_posts_as_examples: true
                  style_guide:
                    audience_override: null
                    vocabulary_override: null
                    generated:
                      audience: "Bootstrapped SaaS founders and indie hackers."
                      vocabulary: "Plain, direct, numbers-first."
                      generated_at: "2026-07-20T09:00:00.000Z"
                  products:
                    - id: 3
                      url: "https://superx.so"
                      name: "SuperX"
                      description: "X growth platform"
                      positioning: null
                      features: null
                      updates: null
                      last_scraped_at: "2026-07-25T12:00:00.000Z"
                      created_at: "2026-07-01T09:00:00.000Z"
                      updated_at: "2026-07-25T12:00:00.000Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    patch:
      tags: [Context]
      operationId: updateContext
      summary: Update context settings
      description: >-
        Edit any subset of the Context settings; only the fields you send
        change. Strings accept `null` to clear (style-guide overrides then
        revert to the generated guide). Arrays fully REPLACE the stored list:
        send every value the account should keep, `[]` clears.
        `voice.favorite_creators` takes X usernames (with or without @, as
        bare strings or as the { screen_name } objects GET returns); SuperX
        resolves names and avatars. Unlike most write endpoints, context
        writes accept `account_id` for any linked account. These settings
        shape all future AI output for the account. Returns the full updated
        document.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                profile_description:
                  type: object
                  properties:
                    text:
                      type: string
                      maxLength: 500
                      nullable: true
                    enabled:
                      type: boolean
                interests:
                  type: array
                  maxItems: 30
                  items:
                    type: string
                    maxLength: 50
                rules:
                  type: string
                  maxLength: 500
                  nullable: true
                reply:
                  type: object
                  properties:
                    custom_instructions:
                      type: string
                      maxLength: 500
                      nullable: true
                    include_author_name:
                      type: boolean
                voice:
                  type: object
                  properties:
                    favorite_creators:
                      type: array
                      maxItems: 3
                      items:
                        oneOf:
                          - type: string
                            description: X username, with or without the leading @.
                          - type: object
                            required: [screen_name]
                            properties:
                              screen_name: { type: string }
                            description: GET output round-trips; fields other than screen_name are ignored and re-derived.
                    use_own_posts_as_examples:
                      type: boolean
                style_guide:
                  type: object
                  properties:
                    audience_override:
                      type: string
                      maxLength: 600
                      nullable: true
                    vocabulary_override:
                      type: string
                      maxLength: 1000
                      nullable: true
                account_id:
                  type: string
            example:
              rules: "Never use hashtags. Keep posts under 200 characters."
              interests: ["indie hacking", "SaaS", "AI agents"]
              style_guide:
                audience_override: null
      responses:
        "200":
          description: >-
            The full updated context document. If the save landed but the
            read-back failed, `data` is null and `note` says to fetch
            GET /v1/context for the updated document.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: "#/components/schemas/Context"
                      - type: "null"
                  note:
                    type: string
                    description: Present only when data is null (save succeeded, read-back failed).
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/context/products:
    put:
      tags: [Context]
      operationId: setContextProducts
      summary: Replace the product list
      description: >-
        Reconciles the account's products to exactly the submitted list (max
        5). CAUTION: this is a FULL REPLACE by url - any existing product
        whose url is missing from the payload is removed. To edit one product
        without touching the others, use PATCH /v1/context/products/{id}.
        Removal is reversible: re-adding the same url restores the product
        with its scraped details intact. Fields are written only when
        present; `null` clears a field.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
[...]
