openapi: 3.1.0
info:
  title: SuperX API
  version: "1.0.0"
  description: |
    The SuperX public API: your Twitter/X content, analytics, audience and
    scheduling data over REST.

    All endpoints require an API key (`Authorization: Bearer sxk_...`) except
    `GET /v1/docs`. Keys are created in the SuperX app under Account > API / MCP / CLI
    and are server-side secrets.

    Timestamps are UTC ISO-8601 in both directions; inputs must carry an explicit
    `Z` or numeric offset. Every authenticated response carries
    `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` headers.
  contact:
    name: SuperX
    url: https://superx.so
servers:
  - url: https://api.superx.so
security:
  - apiKey: []
tags:
  - name: Identity
  - name: Content
  - name: Analytics
  - name: Inspiration
  - name: Audience
  - name: Contact Lists
  - name: Signals
  - name: Datasets
    description: |
      The audience collections Ask SuperX builds in the app: the repliers,
      quoters or reposters of a post, the members of an X list, your own
      posts or replies, or a research brief.

      Collect a new one with `POST /v1/datasets` (a big collection answers
      202 and finishes in the background), read it, export it, or copy the
      people in it into a contact list you created. Datasets are kept for 30
      days, and the ones Ask SuperX builds in the app show up here too.
  - name: Engage
    description: |
      The account's saved Engage feeds and the candidate posts in them, for
      an agent to score and a person to act on.

      Read-only by design. These endpoints return feed candidates for a
      person to review; replies are written and sent by a person in the
      SuperX app, which is why there is no reply endpoint here. Sending
      spammy, automated, or AI-generated replies that read as inauthentic
      may get your X account suspended under X's inauthentic-behavior
      rules and your SuperX account terminated. AI suggestions must be
      reviewed and meaningfully edited before they are sent, and you are
      solely responsible for what you post. Reply activity is logged and
      may be audited.
  - name: X Lookups
    description: |
      Read any public post, its top replies, any public profile, or an
      account's latest posts LIVE from X, rather than from SuperX's stored
      data.

      These are owner-scoped, so none of them take an `account_id`: nothing
      about a public lookup is per-X-account. They cost the tighter
      live-enrichment allowance and share a daily allowance of 300 live
      lookups with Ask SuperX inside the app, so use them for what you
      actually need rather than to sweep. Repeat lookups within 15 minutes
      may be served from a short-lived server-side cache.
  - name: Tools
    description: |
      The composer helpers from the SuperX app, over the API: rewrite a post,
      edit one selected piece of it, apply one preset rewrite, check a claim,
      or compare two versions.

      Every one of them returns TEXT and writes nothing. Nothing here is
      posted, scheduled or sent; save what you keep with
      `POST /v1/posts/draft` or `POST /v1/scheduled-posts`. They cost AI
      credits, measured from the models' real cost, and spend no live-data
      allowance.
  - name: Media
  - name: Workers
    description: |
      The posts the account's Workers have written, and the three things a
      person does with one: save it as a draft, schedule it, or dismiss it.

      A Worker is a scheduled AI writer set up in the SuperX app. Creating,
      editing and running one stays in the app, so there is no create or run
      endpoint here. What a run produces lands in the app's "To review" queue
      and is read with `GET /v1/workers/suggestions`.

      NOTHING HERE POSTS TO X. Drafting or scheduling a suggestion writes a
      post the user can see in the app and on `GET /v1/scheduled-posts`,
      exactly like the app's own buttons. AI output must be reviewed and
      meaningfully edited by a person before it goes out, so show the text to
      the user and confirm the time before you schedule anything.
  - name: Scheduling
  - name: Tags
  - name: Context
  - name: Queue
  - name: DMs
    description: |
      Queue direct messages into the account's own DM pipeline, and read or
      cancel what is waiting.

      NOTHING HERE SENDS A MESSAGE. `POST /v1/dm/campaigns` enqueues; the
      SuperX app's scheduler is what sends, within the account's daily and
      monthly DM limits, so the create response is counts, not deliveries.
      Unsent messages can be cancelled until the scheduler picks them up.

      You are responsible for the messages you queue. Unsolicited or
      automated bulk DMs may get an X account suspended under X's rules and
      a SuperX account terminated, so confirm the recipient list and the
      exact wording with the person on whose behalf you are queueing.
  - name: Articles
  - name: Meta

paths:
  /v1/me:
    get:
      tags: [Identity]
      operationId: getMe
      summary: Get the key owner
      description: Returns the key owner, their plan, the calling key's name and scopes, and the AI credit pool.
      responses:
        "200":
          description: The authenticated identity.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Me"
              example:
                data:
                  owner:
                    id: "1178367350552305665"
                    name: "Jordan Rivers"
                    email: "jordan@example.com"
                  plan:
                    tier: 2
                    label: "Pro"
                    is_trial: false
                  key:
                    id: 3
                    name: "My script"
                    key_prefix: "sxk_Ab3dEf9h"
                    scopes: ["read", "write"]
                    created_at: "2026-07-01T09:15:00.000Z"
                    last_used_at: "2026-07-06T08:41:03.000Z"
                  credits:
                    remaining: 712
                    pool: 750
                    period: "month"
                    period_end: "2026-10-01T00:00:00.000Z"
                    bonus: 0
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/accounts:
    get:
      tags: [Identity]
      operationId: listAccounts
      summary: List your accounts
      description: |
        The accounts this key may act on: your main account plus any linked
        accounts. When linked accounts cannot be verified, the response degrades
        to the main account only and carries a top-level `degraded: true` flag;
        retry shortly for the full list.
      responses:
        "200":
          description: Main and linked accounts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Account" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
                  degraded:
                    type: boolean
                    description: Present and true only when linked accounts could not be verified and the list contains the main account only.
              example:
                data:
                  - id: "1178367350552305665"
                    username: "mainhandle"
                    name: "Main Account"
                    avatar_url: "https://pbs.twimg.com/profile_images/example.jpg"
                    is_main: true
                  - id: "1299139023923867648"
                    username: "brandhandle"
                    name: "Brand Account"
                    avatar_url: "https://pbs.twimg.com/profile_images/example2.jpg"
                    is_main: false
                pagination: { page: 1, limit: 2, has_more: false }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/posts:
    get:
      tags: [Content]
      operationId: listPosts
      summary: List published posts
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: type
          in: query
          description: Which posts to include.
          schema:
            type: string
            enum: [posts, replies, all]
            default: posts
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - name: sort
          in: query
          schema:
            type: string
            enum: [posted_at, likes, impressions]
            default: posted_at
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of posts, newest first by default.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Post" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941123456789012345"
                    text: "Consistency beats intensity. Post every day for 30 days and watch what happens."
                    posted_at: "2026-07-05T14:02:11.000Z"
                    url: "https://x.com/mainhandle/status/1941123456789012345"
                    is_reply: false
                    in_reply_to_id: null
                    is_quote: false
                    thread_id: "1941123456789012345"
                    metrics:
                      likes: 231
                      replies: 18
                      reposts: 40
                      quotes: 3
                      bookmarks: 55
                      impressions: 48210
                pagination: { page: 1, limit: 20, has_more: true }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/posts/analytics:
    get:
      tags: [Analytics]
      operationId: getPostAnalytics
      summary: Get analytics
      description: |
        Totals and a per-day series (posts, engagement, impressions, follower
        samples) for the selected account. Default range is the last 30 days;
        the maximum range is 366 days.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
      responses:
        "200":
          description: Totals, follower change and per-day series.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Analytics"
              example:
                data:
                  range:
                    since: "2026-06-06T00:00:00.000Z"
                    until: "2026-07-06T00:00:00.000Z"
                  totals:
                    posts: 92
                    likes: 4110
                    replies: 380
                    reposts: 512
                    quotes: 44
                    bookmarks: 903
                    impressions: 812400
                  followers:
                    start: 12180
                    end: 12544
                    change: 364
                  series:
                    - date: "2026-07-04"
                      posts: 3
                      likes: 140
                      replies: 12
                      reposts: 17
                      quotes: 1
                      bookmarks: 31
                      impressions: 27400
                      followers: 12520
                    - date: "2026-07-05"
                      posts: 4
                      likes: 231
                      replies: 18
                      reposts: 40
                      quotes: 3
                      bookmarks: 55
                      impressions: 48210
                      followers: 12544
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/posts/draft:
    post:
      tags: [Scheduling]
      operationId: draftPost
      summary: Write post drafts in your voice
      description: |
        Writes post drafts from a brief, in the account's own voice. Nothing
        is scheduled and nothing is stored: the response is text for you to
        review and edit, then send to `POST /v1/scheduled-posts` to save a
        draft or schedule it.

        Every draft copies the SHAPE of a proven post, never its content.
        Pass one in `mirror` (the text of a post from `GET /v1/inspiration`
        works well), or leave `mirror` out and a proven shape is picked for
        you, optionally biased toward a `collection`.

        Voice: `mine` (default) writes as the account in `account_id`, from
        that account's own posts, style guide and rules (your main account
        when `account_id` is omitted), `creator` writes in a creator's style,
        and `hybrid` keeps the account's substance with the creator's flavor.
        The creator's style guide is prepared in the
        background the first time you name them; that first call returns
        `409 creator_style_pending` and the retry a minute later succeeds.

        Costs AI credits per draft (drafts that fail are refunded), and a
        call takes roughly 20 to 40 seconds. `Idempotency-Key` is NOT
        supported: generation is not idempotent, and a replay would produce
        different text anyway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [brief]
              properties:
                brief:
                  type: string
                  minLength: 1
                  maxLength: 2000
                  description: "What the post should say: the data, angle, or notes to write from."
                count:
                  type: integer
                  minimum: 1
                  maximum: 3
                  default: 1
                  description: How many drafts to write. Each one costs credits.
                voice:
                  type: string
                  enum: [mine, creator, hybrid]
                  default: mine
                  description: "Whose voice to write in. `mine` is the voice of the account in `account_id`: its own posts, style guide and rules. Omit `account_id` and that is your main account."
                creator:
                  type: string
                  description: X handle to borrow style from, for example `@naval`. Required when `voice` is `creator` or `hybrid`, rejected when `voice` is `mine`.
                mirror:
                  type: string
                  minLength: 50
                  maxLength: 1500
                  description: "Plain text of a proven post whose shape to copy. Only the form is reused, never the content. Pick a mirror with room for your data: a two-line aphorism squeezes the facts out. Omit to have a shape picked for you."
                collection:
                  type: string
                  description: "Format collection id to bias the picked shape toward, for example `numbered_list` or `contrarian_take`. Used only when `mirror` is omitted; an id that is unknown or not usable as a mirror fails with `400 invalid_collection`, which lists the ids that do work."
                instructions:
                  type: string
                  maxLength: 500
                  description: Extra style instructions for this batch.
                account_id:
                  type: string
                  description: "Any account you own, meaning your main account (the default when omitted) or one linked to it. With `voice: mine` the drafts use this account's own posts and style guide. An account shared with you returns `403 writes_main_account_only`."
            examples:
              simple:
                summary: One draft in your own voice
                value:
                  brief: "We cut churn from 6.2% to 3.8% by replacing the onboarding video with a 3-step checklist."
              mirrored:
                summary: Three drafts copying a proven post's shape
                value:
                  brief: "We shipped a public API. 40 developers signed up in 48 hours."
                  count: 3
                  mirror: "Most people think they need more discipline.\n\nThey do not.\n\nThey need a smaller first step. Discipline is what you build after the habit already exists, not before."
              creator_voice:
                summary: Your substance, a creator's flavor
                value:
                  brief: "Removing our free plan tripled conversion."
                  voice: "hybrid"
                  creator: "@naval"
      responses:
        "201":
          description: The generated drafts. Nothing was scheduled or stored.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      drafts:
                        type: array
                        items:
                          type: object
                          properties:
                            text:
                              type: string
                              description: The draft post text. Send it to `POST /v1/scheduled-posts` when the user is happy with it.
                            mirrored:
                              type: object
                              nullable: true
                              description: Which proven shape this draft copied, or `null` when the draft copied no shape (no usable one was found and it was written from the brief alone).
                              properties:
                                source:
                                  type: string
                                  enum: [you, collection]
                                  description: "`you` when you passed `mirror`, `collection` when a shape was picked for you."
                                collection:
                                  type: string
                                  description: Format collection the shape came from. Absent when `source` is `you`.
                                reference_id:
                                  type: string
                                  description: Id of the post whose shape was copied. Absent when `source` is `you`.
                      credits_charged:
                        type: integer
                        description: AI credits kept for this call. Drafts that failed are refunded and are not counted here.
              example:
                data:
                  drafts:
                    - text: "Most founders think they need better retention strategies.\n\nThey do not.\n\nThey need simpler onboarding."
                      mirrored: { source: "you" }
                  credits_charged: 3
        "400":
          description: >-
            Invalid or missing field (`invalid_parameter`), a `mirror` that
            cannot be used as a shape (`mirror_rejected`, with the reason),
            an unknown or unusable `collection` (`invalid_collection`), a
            `creator` SuperX has no posts for (`unknown_creator`), or a
            creator whose style guide could not be built at all
            (`creator_style_unavailable`, terminal: do not retry).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: mirror_rejected
                  message: "That post cannot be used as a mirror (url). Pass the plain text of a substantial post with no links and no engagement bait."
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: >-
            Read-only key (`insufficient_scope`), an account shared with you
            (`writes_main_account_only`), or a lapsed subscription (legacy
            string envelope).
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorEnvelope"
                  - $ref: "#/components/schemas/LegacyErrorEnvelope"
              example:
                error:
                  code: writes_main_account_only
                  message: "Accounts shared with you are read-only through the API. Drafting works on your own main and linked accounts."
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "409":
          description: >-
            The creator's style guide is being prepared
            (`creator_style_pending`). It is ready in about a minute; retry
            the same request.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: creator_style_pending
                  message: "Style guide for @naval is being prepared, retry in about a minute."
        "429":
          description: >-
            Rate limited (`rate_limited`, honor `Retry-After`), the AI credit
            pool is used up (`ai_credits_exhausted`, with the credit
            counters), or the plan's daily cap on drafting runs is spent
            (`ai_action_limited`, honor `Retry-After`). No plan caps drafting
            today; the shape is documented so a future cap cannot surprise a
            client.
          headers:
            Retry-After:
              description: >-
                Seconds to wait before retrying. Sent on every flavour of this
                429.
              schema:
                type: integer
            X-Credits-Remaining:
              description: >-
                Credits left in the pool. Sent only on
                `ai_credits_exhausted`, never on `rate_limited` or
                `ai_action_limited`, which do not consult the pool.
              schema:
                type: integer
            X-Credits-Reset:
              description: >-
                Unix timestamp (seconds) when the pool refills. Sent only on
                `ai_credits_exhausted`, on the same terms as
                `X-Credits-Remaining`.
              schema:
                type: integer
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/CreditExhaustedError"
                  - $ref: "#/components/schemas/ActionLimitedError"
                  - $ref: "#/components/schemas/ErrorEnvelope"
              example:
                error:
                  code: ai_credits_exhausted
                  message: "Not enough AI credits. Resets in 5 hours."
                  credits_required: 9
                  credits_remaining: 2
                  reset_at: 1790812800
        "500": { $ref: "#/components/responses/InternalError" }
        "502":
          description: Every draft failed to generate (`generation_failed`). All credits for the call were refunded.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorEnvelope" }
              example:
                error:
                  code: generation_failed
                  message: "Drafting failed and no credits were spent. Try again shortly."

  /v1/posts/remix:
    post:
      tags: [Scheduling]
      operationId: remixPost
      summary: Rewrite a post in your voice
      description: |
        Rewrites a post in the account's own voice, as close to or as far from
        the original as you ask. `closeness: 0` keeps only the idea,
        `closeness: 100` stays very close to the original wording.

        This is the same engine as the app composer's Remix button, so a
        script and the app produce the same kind of output.

        Nothing is posted, scheduled or stored: the response is TEXT for a
        person to review, then send to `POST /v1/posts/draft` or
        `POST /v1/scheduled-posts`.

        Costs AI credits, measured from the models' real cost and typically 2.
        Spends no live-data allowance. Needs a key with the `write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RemixPostRequest" }
            example:
              text: "Most founders think they have a traffic problem. They have a positioning problem."
              closeness: 70
              instructions: "Make it a question."
      responses:
        "200":
          description: The remixed text.
          headers:
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      text:
                        type: string
                        description: The remixed post. Nothing was saved; send it on when a person is happy with it.
                  meta: { $ref: "#/components/schemas/ToolMeta" }
              example:
                data:
                  text: "what if it was never a traffic problem?"
                meta:
                  credits_charged: 2
                  account_id: "1178367350552305665"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "429": { $ref: "#/components/responses/AiActionLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/tools/inline-edit:
    post:
      tags: [Tools]
      operationId: inlineEditText
      summary: Edit one selected piece of a post
      description: |
        Edits the piece of a post you select, keeping the style of the text
        around it. Pass the selection as `text` and the whole post as
        `full_text`, and the edit is written to drop straight back into place.

        Steer it with a free-text `instruction`, a preset `edit_type`, or
        both. At least one of the two is required.

        Returns TEXT. Nothing is posted, scheduled or saved.

        Costs AI credits, measured and typically 1. Spends no live-data
        allowance. Needs a key with the `write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InlineEditRequest" }
            example:
              text: "Most founders think they have a traffic problem."
              full_text: "Most founders think they have a traffic problem. They have a positioning problem."
              edit_type: hook
      responses:
        "200":
          description: The edited text.
          headers:
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      edited_text:
                        type: string
                        description: The edited selection, ready to drop back into the post.
                      original_text:
                        type: string
                        description: The selection you sent, echoed back so a diff is easy.
                  meta: { $ref: "#/components/schemas/ToolMeta" }
              example:
                data:
                  edited_text: "you don't have a traffic problem."
                  original_text: "Most founders think they have a traffic problem."
                meta:
                  credits_charged: 1
                  account_id: "1178367350552305665"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "429": { $ref: "#/components/responses/AiActionLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/tools/rephrase:
    post:
      tags: [Tools]
      operationId: rephraseText
      summary: Rewrite a post one preset way
      description: |
        Applies one preset rewrite to a whole post.

        The style presets (`improve`, `hook`, `engaging`, `humorous`,
        `positive`, `creative`, `sarcastic`, `inspirational`) write in the
        account's own voice. The mechanical ones (`grammar`, `translate`,
        `clarity`, `details`, `concise`) do not: they leave the voice alone
        and only do the job named.

        `hook` rewrites the FIRST paragraph only and returns it with the rest
        of the post unchanged behind it.

        Returns TEXT. Nothing is posted, scheduled or saved.

        Costs AI credits, measured and typically 1. Spends no live-data
        allowance. Needs a key with the `write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RephraseRequest" }
            example:
              type: concise
              text: "I have been thinking for quite a while now about the fact that most of the founders I speak to are convinced their biggest problem is traffic."
      responses:
        "200":
          description: The rewritten text.
          headers:
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      text: { type: string }
                  meta: { $ref: "#/components/schemas/ToolMeta" }
              example:
                data:
                  text: "most founders are sure their problem is traffic. it rarely is."
                meta:
                  credits_charged: 1
                  account_id: "1178367350552305665"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "429": { $ref: "#/components/responses/AiActionLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/tools/factcheck:
    post:
      tags: [Tools]
      operationId: factCheckText
      summary: Check a statement against a web search
      description: |
        Runs a web search for the statement and reports `true`, `false` or
        `unknown` with a one-sentence comment and the sources it read.

        **This is a model's reading of a couple of search results, not a
        guarantee.** Show the `sources` alongside the verdict and never
        present it as settled fact. `unknown` is a real and common answer,
        including when the search returned nothing usable.

        Nothing is posted, and nothing is written onto a post: the app's own
        fact-check button is what stores a verdict against a post.

        Costs AI credits, measured and typically 1. Spends no live-data
        allowance. Needs a key with the `write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FactCheckRequest" }
            example:
              text: "X passed 600 million daily active users in 2026."
      responses:
        "200":
          description: The verdict and its sources.
          headers:
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/FactCheckResult" }
                  meta: { $ref: "#/components/schemas/ToolMeta" }
              example:
                data:
                  result: unknown
                  comment: "The sources do not report a figure for 2026."
                  sources:
                    - link: "https://example.com/report"
                      title: "Platform usage report"
                      snippet: "Daily active users were last disclosed in 2024."
                meta:
                  credits_charged: 1
                  account_id: "1178367350552305665"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "429": { $ref: "#/components/responses/AiActionLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/tools/algorithm-predict:
    post:
      tags: [Tools]
      operationId: predictAlgorithm
      summary: Compare two versions of a post
      description: |
        Scores two versions of a post from 0 to 100 against what the X
        timeline tends to reward (hook strength, what drives replies and
        quotes, structure, shareability), and suggests a few short
        improvements for each.

        **The scores are a model's opinion.** They are useful for comparing
        two drafts against each other, not for predicting real reach, and
        should be reported that way.

        Nothing is posted or scheduled.

        Costs AI credits, measured and typically 1. Spends no live-data
        allowance. Needs a key with the `write` scope.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AlgorithmPredictRequest" }
            example:
              version_a: "Most founders think they have a traffic problem. They have a positioning problem."
              version_b: "you don't have a traffic problem. you have a positioning problem."
      responses:
        "200":
          description: A score and improvements for each version.
          headers:
            X-Credits-Charged: { $ref: "#/components/headers/X-Credits-Charged" }
            X-Credits-Remaining: { $ref: "#/components/headers/X-Credits-Remaining" }
            X-Credits-Reset: { $ref: "#/components/headers/X-Credits-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      version_a: { $ref: "#/components/schemas/AlgorithmPredictVersion" }
                      version_b: { $ref: "#/components/schemas/AlgorithmPredictVersion" }
                  meta: { $ref: "#/components/schemas/ToolMeta" }
              example:
                data:
                  version_a:
                    score: 62
                    improvements:
                      - text: "Open with the reversal"
                        tooltip: "Lead with the surprising half so the first line earns the second."
                  version_b:
                    score: 78
                    improvements:
                      - text: "Add one concrete example"
                        tooltip: "A named situation makes the claim land instead of reading as a slogan."
                meta:
                  credits_charged: 1
                  account_id: "1178367350552305665"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "429": { $ref: "#/components/responses/AiActionLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/replies:
    get:
      tags: [Content]
      operationId: listReplies
      summary: List replies you sent
      description: |
        Replies the selected account has posted, newest first.

        Page 1 of an unfiltered listing also includes replies sent from the
        SuperX app's Engage tab in the last 4 hours. Those live only in
        SuperX until X reports the post back, so without them the newest
        replies would be missing here while the app already shows them. They
        carry `metrics_pending: true` with all-zero `metrics` (nothing is
        measured yet), and because they are prepended, page 1 can return more
        than `limit` items; `has_more` still describes the stored replies
        only. Later pages and any `since`/`until` query never include them.
        Merged replies are deduplicated against page 1 only, so one that has
        already been stored and pushed onto page 2 can appear twice across
        pages: deduplicate by `id` if you page through the whole list.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Post" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941200000000000001"
                    text: "Agreed. The first 100 posts are practice."
                    posted_at: "2026-07-05T16:20:00.000Z"
                    url: "https://x.com/mainhandle/status/1941200000000000001"
                    is_reply: true
                    in_reply_to_id: "1941199999999999999"
                    is_quote: false
                    thread_id: "1941199999999999999"
                    metrics:
                      likes: 12
                      replies: 1
                      reposts: 0
                      quotes: 0
                      bookmarks: 2
                      impressions: 1840
                pagination: { page: 1, limit: 20, has_more: false }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/replies/received:
    get:
      tags: [Audience]
      operationId: listReceivedReplies
      summary: List replies you received
      description: Every stored reply the selected account has received across all of its posts, with the replier's profile and the replied-to post when available.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [recent, most_liked]
            default: recent
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of received replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ReceivedReply" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941300000000000002"
                    text: "This thread changed how I plan my week."
                    posted_at: "2026-07-03T10:12:45.000Z"
                    metrics: { likes: 9 }
                    author:
                      id: "944883311"
                      username: "replierhandle"
                      name: "Replier Name"
                      avatar_url: "https://pbs.twimg.com/profile_images/..."
                    in_reply_to:
                      id: "1941299999999999998"
                      text: "How I plan a content week in 20 minutes:"
                      posted_at: "2026-07-03T09:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: false, total: 14 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/inspiration:
    get:
      tags: [Inspiration]
      operationId: searchInspiration
      summary: Search the inspiration library
      description: |
        Search a library of 50M+ real high-performing posts by topic. Use the
        results for structures, hooks and angles to remix, never to copy.

        The library is user-level, so there is no `account_id` parameter.
        Results are relevance-ranked: the strongest matches come first, more
        loosely related posts after. A page can return fewer posts than
        `limit` once weak and promotional matches are removed. Pagination is
        heuristic; `has_more` means more library pages may exist (pages run
        1 to 7).

        Each result carries an `outlier_score`: the post's engagement rate vs
        the expected rate for its author's follower tier, x10 (10 = expected,
        higher = overperformed). Null when the author's follower count is
        unknown.
      parameters:
        - name: q
          in: query
          required: true
          description: Topic or theme to search for (1-200 characters).
          schema:
            type: string
            minLength: 1
            maxLength: 200
        - name: sort
          in: query
          description: |
            Result ordering. `relevant` (default) is relevance-ranked, the
            strongest matches first.
          schema:
            type: string
            enum: [relevant, recent, likes, reposts, impressions, outlier]
            default: relevant
        - name: min_likes
          in: query
          description: Only posts with at least this many likes.
          schema: { type: integer, minimum: 0 }
        - name: min_reposts
          in: query
          description: Only posts with at least this many reposts.
          schema: { type: integer, minimum: 0 }
        - name: min_replies
          in: query
          description: Only posts with at least this many replies.
          schema: { type: integer, minimum: 0 }
        - name: min_bookmarks
          in: query
          description: Only posts with at least this many bookmarks.
          schema: { type: integer, minimum: 0 }
        - name: min_impressions
          in: query
          description: Only posts with at least this many impressions.
          schema: { type: integer, minimum: 0 }
        - name: min_length
          in: query
          description: Only posts with at least this many characters.
          schema: { type: integer, minimum: 0 }
        - name: min_followers
          in: query
          description: Only posts from authors with at least this many followers.
          schema: { type: integer, minimum: 0 }
        - name: max_followers
          in: query
          description: Only posts from authors with at most this many followers.
          schema: { type: integer, minimum: 0 }
        - $ref: "#/components/parameters/Since"
        - $ref: "#/components/parameters/Until"
        - name: lang
          in: query
          description: Language code.
          schema:
            type: string
            default: en
        - name: exclude_topics
          in: query
          description: Comma-separated topics to exclude (keyword filter).
          schema:
            type: string
            example: "crypto,politics"
        - name: limit
          in: query
          description: Maximum posts per page, 1 to 50. Pages can be shorter after filtering.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
        - name: page
          in: query
          description: 1-based page number, 1 to 7.
          schema:
            type: integer
            minimum: 1
            maximum: 7
            default: 1
      responses:
        "200":
          description: A page of matching posts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/InspirationPost" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1938765432109876543"
                    url: "https://x.com/buildersam/status/1938765432109876543"
                    text: "I built my first product in 30 days with zero audience. Here is exactly what I would do differently:"
                    posted_at: "2026-06-20T15:04:00.000Z"
                    lang: "en"
                    likes: 4211
                    replies: 312
                    reposts: 388
                    bookmarks: 1904
                    impressions: 512000
                    outlier_score: 14.2
                    author:
                      handle: "buildersam"
                      name: "Sam Fields"
                      followers: 8421
                      verified: true
                pagination: { page: 1, limit: 20, has_more: true }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/inspiration/media:
    get:
      tags: [Inspiration]
      operationId: searchInspirationMedia
      summary: Search the inspiration media index
      description: |
        Search the cross-platform media index behind the SuperX app's
        Inspiration > Media tab: short-form video and image posts from X,
        Instagram, YouTube, Threads, Reddit and LinkedIn, with captions, a
        content summary and engagement counts. Use it for visual format and
        hook research, never to copy.

        Media file URLs are not exposed through the API; open `source_url`
        for the original post.

        Owner-scoped, so there is no `account_id`. Omit `q` to BROWSE the
        newest media instead of searching; `meta.mode` reports which ran, and
        only `search` results carry a `score`. Unlike the app there is no
        personalisation: the app fills an empty search box from the signed-in
        person's profile and click history, which an owner-scoped key has no
        equivalent of.

        There is NO pagination: the index returns at most 120 items per
        query, and `limit` only trims that. Ask for the 120 and filter on
        your side rather than looking for a page parameter.

        Counts as a read and costs no enrichment units. The media index has
        two caps of its own, per account: a burst of 20 refilling one every
        3 seconds, and 500 FRESH searches per UTC day. Repeats of a recent
        identical search are served from a short-lived cache and do not count
        against the daily cap. Both return `429 rate_limited` with
        `Retry-After`.
      parameters:
        - name: q
          in: query
          description: What to search for (max 300 characters). Omit to browse the newest media.
          schema: { type: string, maxLength: 300 }
        - name: platforms
          in: query
          description: |
            Comma-separated platforms to include. Default:
            `instagram,youtube,x,threads`.
          schema:
            type: string
            example: "youtube,instagram"
        - name: time_filter
          in: query
          description: How recent the media must be.
          schema:
            type: string
            enum: [all, "24h", "7d", "30d"]
            default: all
        - name: media_type
          in: query
          description: Media kind.
          schema:
            type: string
            enum: [all, video, image]
            default: all
        - name: content_type
          in: query
          description: |
            Free-text content-type label as stored in the index (max 50
            characters). There is no enumerated list: a label the index does
            not use returns zero items and still counts against the daily
            search cap, so leave it off unless you know the label.
          schema: { type: string, maxLength: 50 }
        - name: limit
          in: query
          description: Items to return (1-120). 120 is everything one query can return.
          schema: { type: integer, minimum: 1, maximum: 120, default: 20 }
      responses:
        "200":
          description: Matching media items.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MediaItem" }
                  meta:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum: [search, browse]
                        description: search = ranked against your query, browse = newest first.
                      total:
                        type: integer
                        description: Items the index returned before the `limit` slice.
              example:
                data:
                  - id: "ig_3421887766"
                    platform: instagram
                    title: "3 hooks that made this reel go to 2M"
                    caption: "The first second is everything."
                    summary: "Creator breaks down three opening lines and why each one holds attention."
                    content_type: "educational"
                    source_url: "https://instagram.com/p/Cxyz123"
                    author_username: "hookschool"
                    author_url: "https://instagram.com/hookschool"
                    posted_at: "2026-08-28T12:11:00.000Z"
                    like_count: 48211
                    view_count: 2041882
                    comment_count: 611
                    share_count: 2044
                    engagement_tier: "high"
                    score: 0.7412
                meta: { mode: search, total: 120 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/audience/{kind}:
    get:
      tags: [Audience]
      operationId: getAudience
      summary: Read an audience list
      description: |
        A page of the account's followers, following, repliers or reposters
        from SuperX's synced snapshot.

        These four are the system lists in the app's Contacts tab. They live
        in SuperX's own audience store rather than in the contact lists you
        create, which is why `/v1/contact-lists/{id}/members` will not read
        them and this endpoint exists.

        Paging is by CURSOR, not page number: pass `pagination.next_cursor`
        back as `cursor` to continue. A cursor points at the last row of the
        page you were given, so new rows arriving mid-walk never shift the
        pages you already read. There is no `total`; `meta.synced_count` is
        the size of the whole list.

        `followers` and `following` come from the follow graph SuperX syncs
        for the account, so `meta` reports the sync `status`, the plan's
        `backfill_cap` and whether the account is deeper than that cap.
        `repliers` and `reposters` are a rolling 90-day window
        (`meta.window_days`), so someone whose last reply ages past 90 days
        drops out and reappears on their next reply.

        `engaged_count` is replies plus reposts in the last 90 days for the
        follow lists, and this list's own action count for `repliers` and
        `reposters`. `icp_score` and `icp_rationale` are always null here:
        scoring belongs to signal-agent deposits, not to the snapshot.
      parameters:
        - name: kind
          in: path
          required: true
          schema:
            type: string
            enum: [followers, following, repliers, reposters]
        - $ref: "#/components/parameters/AccountId"
        - name: cursor
          in: query
          description: next_cursor from the previous page. Omit for the first page.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        "200":
          description: A page of the audience.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AudienceMember" }
                  meta: { $ref: "#/components/schemas/AudienceMeta" }
                  pagination: { $ref: "#/components/schemas/CursorPagination" }
              example:
                data:
                  - id: "44196397001234567"
                    x_user_id: "44196397001234567"
                    username: "activefan"
                    name: "Sam Porter"
                    avatar_url: "https://pbs.twimg.com/profile_images/example3.jpg"
                    location: "Lisbon"
                    followers_count: 3120
                    following_count: 480
                    engaged_count: 12
                    source: followers
                    added_at: "2026-08-30T09:14:00.000Z"
                    icp_score: null
                    icp_rationale: null
                    can_dm: true
                meta:
                  kind: followers
                  account_id: "9HVHDe4WsJfJcR5SFauMD"
                  x_account_id: "1178367350552305665"
                  synced_count: 13270
                  status: complete
                  backfill_cap: 25000
                  is_capped: false
                  window_days: null
                pagination:
                  limit: 50
                  has_more: true
                  next_cursor: "MTc1NjU0NDA0MDAwMDo0NDE5NjM5NzAwMTIzNDU2Nw"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contacts:
    get:
      tags: [Audience]
      operationId: listContacts
      summary: List engaged contacts
      description: People who engaged with the selected account over the moving 90-day window, with reply and repost tallies.
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [engagement, replies, reposts]
            default: engagement
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of contacts.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Contact" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "44196397001234567"
                    username: "activefan"
                    name: "Sam Porter"
                    avatar_url: "https://pbs.twimg.com/profile_images/example3.jpg"
                    replies_90d: 14
                    reposts_90d: 6
                pagination: { page: 1, limit: 20, has_more: true, total: 181 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contacts/{id}:
    get:
      tags: [Audience]
      operationId: getContact
      summary: Get one contact
      description: |
        One person's stored profile (handle, name, bio, location, website,
        follower counts, verified status) plus the lists you created that they
        are a member of, each with the `member_id` the remove endpoints take.

        LIMITED TO THE ACCOUNT'S KNOWN CONTACTS. The id must be someone the
        selected account has a relationship with: a person who has replied to
        or reposted its posts, a member of one of its contact lists (manual or
        system), or a scored signal lead. Any other id returns 404
        `contact_not_found`, even when SuperX holds a cached profile for it -
        this is not a general X profile lookup.

        The default read serves the stored profile and costs one read.
        `refresh=true` refreshes a stale profile from X and therefore also
        counts against the tighter live-contact-enrichment limit, the same
        bucket `POST /v1/contact-lists/{id}/members` uses. The `refresh=true`
        enrichment unit is charged only after the contact gate passes, so an
        id outside your contacts does not spend one.
      parameters:
        - name: id
          in: path
          required: true
          description: The person's numeric X user id (from `GET /v1/contacts`, list members, or signal leads).
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
        - name: refresh
          in: query
          description: Refresh the profile from X when the stored copy is stale. Costs one enrichment unit. The `refresh=true` enrichment unit is charged only after the contact gate passes, so an id outside your contacts does not spend one.
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: The contact.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContactDetail" }
              example:
                data:
                  id: "944883311"
                  username: "founderhandle"
                  name: "Founder Name"
                  avatar_url: "https://pbs.twimg.com/profile_images/..."
                  bio: "Bootstrapping a SaaS in public."
                  location: "Austin, TX"
                  url: "https://example.com"
                  followers_count: 12800
                  following_count: 640
                  is_blue_verified: true
                  verified_type: null
                  lists:
                    - id: "k1l2m3n4o5p6q7r8s9t0u"
                      name: "Founder prospects"
                      member_id: "m1a2b3c4d5e6f7g8h9i0j"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/ContactNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contacts/{id}/replies:
    get:
      tags: [Audience]
      operationId: listContactReplies
      summary: List one contact's replies to you
      description: The stored reply history from one contact to the selected account, with the replied-to post when available.
      parameters:
        - name: id
          in: path
          required: true
          description: The contact's id from `GET /v1/contacts`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
        - name: sort
          in: query
          schema:
            type: string
            enum: [recent, most_liked]
            default: recent
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of the contact's replies.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactReply" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "1941300000000000002"
                    text: "This thread changed how I plan my week."
                    posted_at: "2026-07-03T10:12:45.000Z"
                    metrics: { likes: 9 }
                    in_reply_to:
                      id: "1941299999999999998"
                      text: "How I plan a content week in 20 minutes:"
                      posted_at: "2026-07-03T09:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: false, total: 14 }
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }
        "503": { $ref: "#/components/responses/AccountsUnavailable" }

  /v1/contacts/{id}/notes:
    get:
      tags: [Audience]
      operationId: listContactNotes
      summary: List notes on a contact
      description: |
        The private notes this account has written about one person, newest
        first. Notes live inside SuperX and are never posted anywhere. Not
        paginated: notes are per-contact and few.

        Works for any X id the account already has a note on, whether or not
        that person is still one of its contacts; an id with no notes returns
        an empty array, not a 404. Only creating a note requires a known
        contact.
      parameters:
        - name: id
          in: path
          required: true
          description: The person's numeric X user id.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The contact's notes.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactNote" }
              example:
                data:
                  - id: "n1a2b3c4d5e6f7g8h9i0j"
                    body: "Met at the SaaS meetup. Wants a demo in September."
                    created_at: "2026-08-14T16:20:00.000Z"
                    updated_at: "2026-08-14T16:20:00.000Z"
                    created_by:
                      x_user_id: "44196397"
                      username: "yourhandle"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    post:
      tags: [Audience]
      operationId: createContactNote
      summary: Add a note to a contact
      description: |
        Write a private note about one person. The note is attributed to the
        account it was written as (`created_by`), which for an API write is the
        account named by `account_id` (your main account when omitted).

        Creating a note requires a KNOWN contact: the id must be one of the
        account's engagers, contact-list members or signal leads, so an id
        outside that set returns 404 `contact_not_found`. This is the only
        note operation with that restriction - reading, editing and deleting
        work on any id the account already has a note on.

        No `Idempotency-Key`: notes have no uniqueness constraint, so a replay
        creates a second note. Duplicates are visible in the list read and
        deletable. Works for your main account or any account linked to it;
        accounts shared with you are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The person's numeric X user id.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 5000
                account_id:
                  type: string
                  description: The account to write as. Defaults to your main account.
            example:
              body: "Met at the SaaS meetup. Wants a demo in September."
      responses:
        "201":
          description: The created note.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContactNote" }
              example:
                data:
                  id: "n1a2b3c4d5e6f7g8h9i0j"
                  body: "Met at the SaaS meetup. Wants a demo in September."
                  created_at: "2026-09-06T10:00:00.000Z"
                  updated_at: "2026-09-06T10:00:00.000Z"
                  created_by:
                    x_user_id: "44196397"
                    username: "yourhandle"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ContactNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contacts/{id}/notes/{noteId}:
    patch:
      tags: [Audience]
      operationId: updateContactNote
      summary: Edit a note on a contact
      description: |
        Replace one note's body. The note must belong to the contact in the
        path: a note id from another contact returns 404 `note_not_found`.
        That is the only check - editing works on any id the account already
        has a note on, whether or not that person is still one of its
        contacts.
        Works for your main account or any account linked to it; accounts
        shared with you are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The person's numeric X user id.
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The note id from `GET /v1/contacts/{id}/notes`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 5000
                account_id:
                  type: string
            example:
              body: "Demo booked for 12 September."
      responses:
        "200":
          description: The updated note.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContactNote" }
              example:
                data:
                  id: "n1a2b3c4d5e6f7g8h9i0j"
                  body: "Demo booked for 12 September."
                  created_at: "2026-08-14T16:20:00.000Z"
                  updated_at: "2026-09-06T10:05:00.000Z"
                  created_by:
                    x_user_id: "44196397"
                    username: "yourhandle"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/NoteNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    delete:
      tags: [Audience]
      operationId: deleteContactNote
      summary: Delete a note on a contact
      description: |
        Returns 204 with no body. Deleting an already-deleted note, or a note
        belonging to another contact, returns 404 `note_not_found`. That is
        the only check - deleting works on any id the account already has a
        note on, whether or not that person is still one of its contacts.
        Works for
        your main account or any account linked to it; accounts shared with you
        are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The person's numeric X user id.
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The note id from `GET /v1/contacts/{id}/notes`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "204":
          description: The note was deleted.
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/NoteNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists:
    get:
      tags: [Contact Lists]
      operationId: listContactLists
      summary: List contact lists
      description: |
        The selected account's contact lists: system lists first (Followers,
        Following, Repliers, Reposters; `is_system: true` with a `kind`), then
        lists you created, newest first. System lists are read-only and
        index-only: their members are not readable through the API and
        `member_count` is 0 for them.
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: The account's contact lists.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactList" }
              example:
                data:
                  - id: "sys_f1a2b3c4d5e6f7g8h9i0j"
                    name: "Followers"
                    is_system: true
                    kind: "followers"
                    member_count: 0
                    created_at: "2026-05-01T09:00:00.000Z"
                    updated_at: "2026-05-01T09:00:00.000Z"
                  - id: "k1l2m3n4o5p6q7r8s9t0u"
                    name: "Founder prospects"
                    is_system: false
                    kind: null
                    member_count: 42
                    created_at: "2026-06-20T14:30:00.000Z"
                    updated_at: "2026-07-01T08:15:00.000Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

    post:
      tags: [Contact Lists]
      operationId: createContactList
      summary: Create a contact list
      description: |
        Create a list you can add people to. Names are NOT unique: the SuperX
        app allows two lists with the same name and this endpoint matches it,
        so read `GET /v1/contact-lists` first if the caller expects one list
        per name. No `Idempotency-Key`: a replay creates a second list, which
        is visible in the index and deletable.

        Works for your main account or any account linked to it (`account_id`);
        accounts shared with you are read-only. Needs the write scope.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                account_id:
                  type: string
            example:
              name: "Founder prospects"
      responses:
        "201":
          description: The created list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContactList" }
              example:
                data:
                  id: "k1l2m3n4o5p6q7r8s9t0u"
                  name: "Founder prospects"
                  is_system: false
                  kind: null
                  member_count: 0
                  created_at: "2026-09-06T10:00:00.000Z"
                  updated_at: "2026-09-06T10:00:00.000Z"
        "400": { $ref: "#/components/responses/InvalidParameter" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/AccountNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}:
    patch:
      tags: [Contact Lists]
      operationId: renameContactList
      summary: Rename a contact list
      description: |
        Rename a list you created. System lists are managed automatically and
        return 400 `system_list_read_only`. Works for your main account or any
        account linked to it (`account_id`); accounts shared with you are
        read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 120
                account_id:
                  type: string
            example:
              name: "Founder prospects Q4"
      responses:
        "200":
          description: The updated list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ContactList" }
              example:
                data:
                  id: "k1l2m3n4o5p6q7r8s9t0u"
                  name: "Founder prospects Q4"
                  is_system: false
                  kind: null
                  member_count: 42
                  created_at: "2026-06-20T14:30:00.000Z"
                  updated_at: "2026-09-06T10:05:00.000Z"
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    delete:
      tags: [Contact Lists]
      operationId: deleteContactList
      summary: Delete a contact list
      description: |
        Delete a list you created, and with it its membership. The people
        themselves are untouched, but a signal agent depositing into this list
        stops until it is repointed in the SuperX app. Returns 204 with no
        body; a second delete returns 404 `list_not_found`. System lists return
        400 `system_list_read_only`.

        Works for your main account or any account linked to it (`account_id`);
        accounts shared with you are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "204":
          description: The list was deleted.
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members:
    get:
      tags: [Contact Lists]
      operationId: listContactListMembers
      summary: List contact list members
      description: |
        Members of one contact list you created. Includes a 90-day
        `engaged_count` (replies + reposts to the account) per member.
        System lists return 400 `system_list_not_supported`.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
        - name: q
          in: query
          description: Filter members by handle or name substring.
          schema:
            type: string
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Page"
      responses:
        "200":
          description: A page of list members.
          headers:
            X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }
            X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }
            X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" }
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ContactListMember" }
                  pagination: { $ref: "#/components/schemas/Pagination" }
              example:
                data:
                  - id: "m1a2b3c4d5e6f7g8h9i0j"
                    x_user_id: "944883311"
                    username: "founderhandle"
                    name: "Founder Name"
                    avatar_url: "https://pbs.twimg.com/profile_images/..."
                    location: "Austin, TX"
                    followers_count: 12800
                    following_count: 640
                    engaged_count: 7
                    source: "manual"
                    added_at: "2026-06-25T11:00:00.000Z"
                pagination: { page: 1, limit: 20, has_more: true, total: 42 }
        "400": { $ref: "#/components/responses/SystemListNotSupported" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/SubscriptionRequired" }
        "404": { $ref: "#/components/responses/ListNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }
    post:
      tags: [Contact Lists]
      operationId: addContactListMember
      summary: Add a contact list member
      description: |
        Add a person to a list you created, by `handle` (live profile lookup)
        or by `x_user_id` (numeric X user id already known to SuperX).
        Exactly one of the two. Naturally idempotent: adding someone already
        in the list returns 200 with the existing member and
        `duplicate: true`, and writes nothing. Works for your main account or any account linked to it
        (`account_id`); accounts shared with you are read-only.
        Needs the write scope. No `Idempotency-Key` support (none is
        needed).

        Counts against a separate live-contact-enrichment rate limit (varies
        by plan), in addition to the normal write limits.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                handle:
                  type: string
                  description: X username, with or without the @.
                x_user_id:
                  type: string
                  description: Numeric X user id.
            examples:
              byHandle:
                value: { handle: "founderhandle" }
              byId:
                value: { x_user_id: "944883311" }
      responses:
        "201":
          description: The member was added.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AddedContactListMember" }
              example:
                data:
                  id: "m1a2b3c4d5e6f7g8h9i0j"
                  x_user_id: "944883311"
                  username: "founderhandle"
                  name: "Founder Name"
                  avatar_url: "https://pbs.twimg.com/profile_images/..."
                  added_at: "2026-07-08T10:00:00.000Z"
        "200":
          description: Already a member; nothing changed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AddedContactListMember" }
                  duplicate:
                    type: boolean
              example:
                data:
                  id: "m1a2b3c4d5e6f7g8h9i0j"
                  x_user_id: "944883311"
                  username: "founderhandle"
                  name: "Founder Name"
                  avatar_url: "https://pbs.twimg.com/profile_images/..."
                  added_at: "2026-06-25T11:00:00.000Z"
                duplicate: true
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListOrUserNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members/{memberId}:
    delete:
      tags: [Contact Lists]
      operationId: removeContactListMember
      summary: Remove a contact list member
      description: |
        Remove a member from a list you created. Returns 204 with no body.
        Removing an already-removed member returns 404 `member_not_found`.
        Works for your main account or any account linked to it
        (`account_id`); accounts shared with you are read-only.
        Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          description: The member id from `GET /v1/contact-lists/{id}/members`.
          schema:
            type: string
        - $ref: "#/components/parameters/AccountId"
      responses:
        "204":
          description: The member was removed.
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/MemberNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members/bulk:
    post:
      tags: [Contact Lists]
      operationId: addContactListMembers
      summary: Add contact list members in bulk
      description: |
        Add up to 500 people to a list you created, by numeric X user id.

        This endpoint does NO live profile lookup, which is why it costs one
        write and no enrichment: it builds each member from the profile SuperX
        already stores. Ids SuperX has never seen come back in `not_found` and
        are NOT added, so no placeholder members are ever created. Add those
        one at a time with `POST /v1/contact-lists/{id}/members` and a
        `handle`, which does resolve live (and costs one enrichment unit).

        Re-adding an existing member is counted in `duplicates`, never an
        error. Duplicate ids inside one call are collapsed. System lists return
        400 `system_list_read_only`.

        Works for your main account or any account linked to it (`account_id`);
        accounts shared with you are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [x_user_ids]
              properties:
                x_user_ids:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: string
                  description: Numeric X user ids.
                account_id:
                  type: string
            example:
              x_user_ids: ["944883311", "44196397", "1234567890"]
      responses:
        "200":
          description: The bulk add finished. Read the counters for what happened.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BulkAddResult" }
              example:
                data:
                  added: 2
                  duplicates: 0
                  failed: 0
                  not_found: ["1234567890"]
                  total_in_list_after: 44
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListNotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502": { $ref: "#/components/responses/UpstreamError" }
        "503": { $ref: "#/components/responses/UpstreamUnavailable" }

  /v1/contact-lists/{id}/members/bulk-delete:
    post:
      tags: [Contact Lists]
      operationId: removeContactListMembers
      summary: Remove contact list members in bulk
      description: |
        Remove up to 500 members from a list you created, by member id (the
        `id` from `GET /v1/contact-lists/{id}/members`).

        POST rather than DELETE because the ids travel in a body. The delete is
        scoped to this list, so ids that are not in it are skipped and
        `deleted` can be lower than the number you sent. There is deliberately
        no "delete everything matching a filter" mode. System lists return 400
        `system_list_read_only`.

        Works for your main account or any account linked to it (`account_id`);
        accounts shared with you are read-only. Needs the write scope.
      parameters:
        - name: id
          in: path
          required: true
          description: The list id from `GET /v1/contact-lists`.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [member_ids]
              properties:
                member_ids:
                  type: array
                  minItems: 1
                  maxItems: 500
                  items:
                    type: string
                  description: Member ids from `GET /v1/contact-lists/{id}/members`.
                account_id:
                  type: string
            example:
              member_ids: ["m1a2b3c4d5e6f7g8h9i0j", "m2b3c4d5e6f7g8h9i0j1k"]
      responses:
        "200":
          description: The bulk removal finished.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/BulkRemoveResult" }
              example:
                data:
                  deleted: 2
                  total_in_list_after: 42
        "400": { $ref: "#/components/responses/SystemListReadOnly" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/WriteForbidden" }
        "404": { $ref: "#/components/responses/ListNotFound" }
[...]
